//- main menu
mixin _flat-menu(depth, menu)
  if (typeof(menu) == 'object')
    each item,i in menu
      if item && item.form
        //- row -> out!
        li.row
          if item.form.dialog == 'placeholder'
            .title= item.title
          else
            a.title(
              data-surf=item.form.dbid,
              data-scroll-to="#forum_#{item.form.dbid}",
              class="forum-#{item.form.dbid}",
              href="#{item.form.offerSlug || item.form.forumSlug || item.form.pageSlug || item.form.url}"
              target=(item.form.separateTab ? '_blank' : '_self'))= item.title
