
mixin _post-edit(u, p)
  html_id = p.id ? "_#{p.id}" : ''
  edit_id = 'editor'+(p.is_comment ? html_id : '')
  .post-edit.onclick-submit(id=p.is_comment ? html_id : 'post_edit', class=p.is_comment ? 'comment' : '')
    form(action="/resources/posts", method="#{p.method || 'put'}")
      .tooltip
      label.summary(data-user-id=u.id)
        img.profile.photo.online(src="#{cacheUrl}#{u.photo || '/images/profile.png'}")
        if !p.is_comment
          input.title(name='title', type='text', placeholder='Title', value=p.title)
        textarea.body.onenter-submit(id=edit_id, name='body', placeholder='Comment ...')= p.body
        input(type='hidden', name='id', value=p.id)
        input(type='hidden', name='forum_id', value=p.forum_id)
        input(type='hidden', name='parent_id', value=p.parent_id)
        input(type='hidden', name='csrf', value=p.csrf)
        button(type='submit', name='submit', value='Reply') Reply
      .close.cancel X
    .preview

