include _post-actions
include _post-profile

mixin _post(p, i, moderatorMode)
  .post(id="post_#{p.id}", class=p.reason ? 'censored' : '', data-user-id=p.user_id, data-post-id=p.id, data-thread-id=p.thread_id, data-forum-id=p.forum_id)
    if p.thread_uri
      h4.title
        a.mutant(href=p.thread_uri)= p.title
    else
      h4.title= p.title
    mixin _post-profile(p)
    .container
      a.user.mutant(href="/user/#{p.user_name}")
        span.username= p.user_name
      .date Posted 
        span(data-time=p.created_iso, title=p.created_friendly)!= p.created_human
      .post-content
        if p.html
          p.body!= p.html
    if !moderatorMode
      mixin _post-actions(p)
      .reply
  .children
    if p.posts && p.posts.length
      each pp, ii in p.posts
        mixin _post(pp, ii)
    else if p.morePosts
      a.load-more(href='#') More Posts
