mixin _post_profile(p)
  a.user.mutant(href="/user/#{p.user_name}")
    .profile.photo
      if p.user_photo && p.user_photo.match(/^http/)
        img(src="#{p.user_photo}")
      else
        img(src="#{cache_url}/#{p.user_photo}")
    span.username= p.user_name
