mixin _post-profile(p)
  .post-profile
    a.user.mutant(href="/user/#{p.user_name}", data-user-id=p.user_id)
      .profile.photo
        if p.user_photo && p.user_photo.match(/^http/)
          img(title=p.user_name, src="#{p.user_photo}")
        else
          img(src="#{cacheUrl}#{p.user_photo}")
