mixin _thread(t)
  li.thread(data-id=t.id, data-user-id=t.user_id)
    a.mutant(data-surf=t.forum_id, href=t.uri)
      h4.title= t.title
      .profile.photo
        img(src="#{cache_url}/#{t.user_photo}")
      .created(data-time=t.created_iso)= t.created_human
      .username by
        em= t.user_name // XXX weird things happened when I tried to turn this into an anchor
      span.post-count= t.post_count
        i posts
      span.views= t.views
        i views
