analytics = unescape(site.config.analytics)
form.onclick-submit(action="/resources/sites/#{siteId}", method="put")
  fieldset
    label(for='posts_per_page') Posts per Page
    input(id='posts_per_page', class='posts-per-page', name='postsPerPage', type='text', value=site.config.postsPerPage, maxlength=4)
    .break
    label Privacy
    .box
      input#private(type='checkbox', value='checked', name='private', checked=site.config.private)
      label.switch-control(for='private')
        .switch
      span.label.checked On
      .note Coming soon
        i !
      //-.note Privacy hides your content from search engines &amp; the public
    .break
    label Invite Only
    .box
      input#invite_only(type='checkbox', value='checked', name='inviteOnly', checked=site.config.inviteOnly)
      label.switch-control(for='invite_only')
        .switch
      span.label.checked On
      .note Disallow the public from registering - 
        a.mutant(href='/admin/invites') Invites

    //-.break
    //-label(for='theme') Base Theme
    //-select(id='theme', name='theme')
    //-  each t in themes
    //-    option(value=t.id)= t.name
    .break.double
    label(for='keywords') Meta Keywords
    textarea(id='keywords', name='metaKeywords')= site.config.metaKeywords
    .note Separated by commas
    .break
    label(for='analytics') Analytics
    textarea(id='analytics', name='analytics')= analytics
    .note Paste script code in above

  input.button(type='submit', value='Save')
  .tooltip
  input(type='hidden', name='action', value='general')
