.resizable.domains
  form.onclick-submit(action="/resources/sites/#{siteId}", method="put")
    .domain
      label(for='domain') Select a Domain
      select(id='domain', name='domain')
        each d in site.domains
          option(value=d.id)= d.name
    br
    fieldset
      img(src="#{cacheUrl}/images/facebook_32.png")
      legend Facebook
      label(for="facebook_client_id") ID
      input.first(id="facebook_client_id", type='text', name='facebookClientId', placeholder='Facebook API ID ...',
      value=site.config.facebookClientId)
      label(for="facebook_client_secret") Secret
      input(id="facebook_client_secret", type='text', name='facebookClientSecret', placeholder='Facebook secret ...',
      value=site.config.facebookClientId)
    fieldset
      img(src="#{cacheUrl}/images/twitter_32.png")
      legend Twitter
      label(for="twitter_key") Key
      input.first(id="twitter_key", type='text', name='twitterConsumerKey', placeholder='Twitter API key ...',
      value=site.config.twitterConsumerKey)
      label(for="twitter_secret") Secret
      input(id="twitter_secret", type='text', name='twitterConsumerSecret', placeholder='Twitter API secret ...',
      value=site.config.twitterConsumerSecret)
    fieldset
      img(src="#{cacheUrl}/images/google_32.png")
      legend Google+
      label(for="google_key") Key
      input.first(id="google_key", type='text', name='googleConsumerKey', placeholder='Google+ API key ...', value=site.config.googleConsumerKey)
      label(for="google_secret") Secret
      input(id="google_secret", type='text', name='googleConsumerSecret', placeholder='Google+ API secret ...',
      value=site.config.googleConsumerSecret)
      //-input(type='hidden', name='csrf', value=csrf)
    input.button(type='submit', value='Save')
    .tooltip Saved
      i !
    input(type='hidden', name='action', value='domains')
