//-extend layout

mixin forum(f, i)
  img.bg(id="forum_bg_#{f.id}", src="#{cache_url}/images/bg_#{f.id}.jpg")
  a(name="forum_#{f.id}") //- hashtag anchor
  .forum(id="forum_#{f.id}", class="#{f.theme} #{i%2 ? 'odd' : 'even'}")
    .header
      .description= f.description
    .container
      each t,ii in f.posts
        mixin post(t, ii)
      .up(class='scroll-to', data-scroll-to="#forum_#{f.id}", title="Scroll top of #{f.title}!")

mixin post(p, i)
  .post(id="post_#{p.id}", class=(i % 2) ? 'odd' : 'even', class="col#{Math.ceil(Math.random()*2)}")
    h5.title= p.title
      span.date #{p.date}
    p.body= p.body
    each sp,i in p.posts
      mixin subpost(sp, i)
    .comment
      .photo
        img(src="#{cache_url}/images/profile.jpg")
      input.msg(type='text', placeholder='Say it ...')

mixin subpost(sp, i)
 .subpost(id="subpost_#{sp.id}", class=(i % 2) ? 'odd' : 'even')
    .photo
      img(src="#{cache_url}/images/profile.jpg")
    p.body= sp.body
    .signature
      span.username - #{sp.user.name}
      span.date= sp.date

//- main
//- ---------
block content-stream
  each f,i in forums
    mixin forum(f, i)

//- vim:fdm=marker
