include _post-profile

mixin media-post(f, i)
  img(src=f.media_url)
mixin html-post(f, t, i)
  p.body!= f.html

mixin posts(f, i)
  each p,i in f.posts
    .post(id="post_#{p.id}", class="col#{Math.ceil(Math.random()*2)}")
      a.mutant(href=p.uri)
        h5.title!= p.title
          span.date #{p.date}
      //- post type
      if p.media_url
        mixin media-post(p, i)
      else
        //-mixin html-post(p, i)
      //- subpost summary
      mixin _post-profile(p, i)
    //- .up(class='onclick-scroll-to', data-scroll-to="#forum_#{f.id}", title="Scroll top of #{f.title}!")

//- main
//- ---------
//-  img.bg(id="forum_bg_#{f.id}", class='initial', src="#{cacheUrl}/images/bg_#{f.id}.jpg")
//-  if activeForumId != 'homepage'
//-    .forum(id="forum_#{f.id}", class=f.classes)
if forums
  .homepage(class=activeForumId!='homepage'?'resizable forum':'')
    each f,i in forums
      .forum(id="forum_#{f.id}", class=f.classes || '')
        h2.title
          a.mutant(href=f.uri)= f.title
        a(name="forum_#{f.id}") //- hashtag anchor
        .container
          mixin posts(f, i)
    .bottom
else
  p Create a forum first
    i !
