include _post-profile

mixin media-post(f, i)
  img(src=f.media_url)
  p.body!= f.html
mixin html-post(f, t, i)
  p.body!= f.html

mixin post(f, i)
    .post(id="post_#{f.id}", class="col#{Math.ceil(Math.random()*2)}")
      a.mutant(href=f.uri)
        h5.title!= f.title
          span.date #{f.date}
      //- post type
      if f.media_url
        mixin media-post(f, i)
      else
        mixin html-post(f, i)
      //- subpost summary
      mixin _post-profile(f, i)
    //- .up(class='onclick-scroll-to', data-scroll-to="#forum_#{f.id}", title="Scroll top of #{f.title}!")

//- main
//- ---------
//-  img.bg(id="forum_bg_#{f.id}", class='initial', src="#{cacheUrl}/images/bg_#{f.id}.jpg")
//-  if activeForumId != 'homepage'
//-    .forum(id="forum_#{f.id}", class=f.classes)
//-  h2.title
//-    a.mutant(href=f.uri)= f.title
//-  a(name="forum_#{f.id}") //- hashtag anchor
//-  .container
if forums
  .homepage(class=activeForumId!='homepage'?'resizable forum':'')
    each f,i in forums
      mixin post(f, i)
else
  p Create a forum first
    i !
