extend layout

mixin post(p, i)
 .post(class=(i % 2) ? 'odd' : 'even')
    span.username= p.user.name
    span.date= p.date
    p.message= p.message

mixin topic(t, i)
  .topic(class=(i % 2) ? 'odd' : 'even')
    h5.title= t.title
      span.date Created #{t.date}
    each p,i in t.posts
      mixin post(p, i)


//- main
//- ---------
block header-content
  h1.logo Power
    strong Bulletin
  menu.menu
    li.row.active HOT
      i !
    li.row FRESH
    li.row Controversial

block section-content
  each t,i in topics
    mixin topic(t, i)

block sidebar-content
  input.search(type='text', placeholder='Search')
  menu.menu
    li.row Category
      menu.submenu
        li.row Topic
        li.row Topic
        li.row Topic
    li.row Category2
      menu.submenu
        li.row Topic
        li.row Topic

block footer-content
  h6 &copy; #{site_name} &nbsp;
    b= new Date().getFullYear()
