extend layout

mixin post(p, i)
  .post(class=(i % 2) ? 'odd' : 'even', class="col#{Math.ceil(Math.random()*2)}")
    h5.title= p.title
      span.date Created #{p.date}
    each sp,i in p.posts
      mixin sub-post(sp, i)

mixin sub-post(sp, i)
 .sub-post(class=(i % 2) ? 'odd' : 'even')
    p.message= sp.body
    .signature
      span.username - #{sp.user.name}
      span.date= sp.date

//- main
//- ---------
block header
  h1.logo Power
    strong Bulletin
  block categories
    //- TODO customizable categories & subcategories for this bulletin
    menu.menu
      li.row
        .title.active Category
        menu.submenu
          li.row Subcat
          li.row Subcat
          li.row Subcat
      li.row
        .title Category2
        menu.submenu
          li.row Subcat
          li.row Subcat
      li.row
        .title Category3
        menu.submenu
          li.row Subcat
          li.row Subcat
          li.row Subcat
          li.row Subcat
  .search
    input#query.query(type='text', placeholder='Search')

block user-profile
  | User Profile
  //- data-fid is how we pass in the forum id of the post, this way
  //- we can put a hotlink wherever without having to write new
  //- javascript (other than calculating the fid)
  //- TODO move this into posts :hover tools

block content-stream
  div
    a(href='#', class='onclick-add-post-dialog', data-fid=33) Add Post!
  each t,i in posts
    mixin post(t, i)

block footer
  h6 &copy; #{site_name} &nbsp;
    b= new Date().getFullYear()
