extend layout

mixin forum(f, i)
  a(name="forum-#{f.id}") //- hashtag anchor
  .forum(id="forum_#{f.id}", class=(i % 2) ? 'odd' : 'even')
    .header
      h4.title= f.title
      span.description= f.description
    .container
      each t,ii in f.posts
        mixin post(t, ii)

mixin post(p, i)
  .post(id="post_#{p.id}", class=(i % 2) ? 'odd' : 'even', class="col#{Math.ceil(Math.random()*2)}")
    h5.title= p.title
      span.date Created #{p.date}
    each sp,i in p.posts
      mixin sub-post(sp, i)

mixin sub-post(sp, i)
 .sub-post(id="sub_post_#{sp.id}", class=(i % 2) ? 'odd' : 'even')
    p.body= sp.body
    .signature
      span.username - #{sp.user.name}
      span.date= sp.date

//- main
//- ---------
block header
  h1.logo Power
    strong Bulletin
  block categories
    menu.menu
      each f,i in forums
        li.row
          a.title(data-menu=f.id, class="forum-#{f.id}", href="#forum-#{f.id}")= f.title
          menu.submenu
            li.row Sub-forum
            li.row Sub-forum
            li.row Sub-forum
  .search
    input#query.query(type='text', placeholder='Search', autocomplete='off')
  .advanced
    input(type='checkbox')
    | Option
    input(type='checkbox')
    | Option
    input(type='checkbox')
    | Option

block left
  //-{{{ data-fid is how we pass in the forum id of the post, this way
  //- we can put a hotlink wherever without having to write new
  //- javascript (other than calculating the fid)
  //- TODO move this into posts :hover tools }}}
  .user-profile
    .photo
      img#user-photo
    div
      a(class='onclick-add-post-dialog', data-fid=33) Add Post
        i !
    .scroll-to-top top

block content-stream
  each f,i in forums
    mixin forum(f, i)

block footer
  h6
    small &copy; 
    | #{site_name} &nbsp;
    b= new Date().getFullYear()

//- vim:fdm=marker
