include _menu
- var invite   = (inviteOnly) ? "window.inviteOnly='true';" : ''
|<!DOCTYPE html><!--
|░█▀█░█▀█░█░█░█▀▀░█▀▄░█▀▄░█░█░█░░░█░░░█▀▀░▀█▀░▀█▀░█▀█
|░█▀▀░█░█░█▄█░█▀▀░█▀▄░█▀▄░█░█░█░░░█░░░█▀▀░░█░░░█░░█░█
|░▀░░░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀░░▀▀▀░▀▀▀░▀▀▀░▀▀▀░░▀░░▀▀▀░▀░▀.com (jsb,mae,kh) ~-->
html
  head
    if typeof(title) !== 'undefined'
      title= title
    //- XXX reinstate+admin if requested by customer
    //-if typeof(meta_description) !== 'undefined'
    //-  meta(name='description',content=meta_description) 
    meta(charset='utf-8')
    if metaKeywords !== ''
      meta(name='keywords',content=metaKeywords)
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
    meta(name='robots',content='index, follow')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='user-scalable=0, initial-scale=1, maximum-scale=1, width=device-width')

    //- schema data for google & google+
    meta(itemprop='name', content=siteName)
    meta(itemprop='description', content=metaKeywords)
    meta(itemprop='image', content="#{cache2Url}/images/apple-touch-icon-114x114.png")

    //- open graph data
    meta(property='og:title', content='Power Bulletin Community in Realtime!')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://powerbulletin.com')
    meta(property='og:image', content="#{cache2Url}/images/apple-touch-icon-114x114.png")
    meta(property='og:description', content=metaKeywords)
    meta(property='og:site_name', content=siteName)

    //- links first
    link(href="#{cache2Url}/images/favicon.ico",rel='shortcut icon',type='image/x-icon')
    link(href="#{cache2Url}/images/apple-touch-icon.png", rel='apple-touch-icon')
    link(href="#{cache2Url}/images/apple-touch-icon-72x72.png", sizes="72x72", rel='apple-touch-icon')
    link(href="#{cache2Url}/images/apple-touch-icon-114x114.png", sizes="114x114", rel='apple-touch-icon')
    if env == 'production'
      link#master-styl(href="#{cacheUrl}/sites/#{siteId}/master.css?#{cacheBuster}", rel='stylesheet', type='text/css')
    else
      link#master-styl(href='/dynamic/css/master.styl?#{cacheBuster}', rel='stylesheet', type='text/css')
    if cssUrls
      for obj in cssUrls
        link(rel='stylesheet',type='text/css',href=obj.url)
    if domainStyle
      link(href="#{cache3Url}/sites/#{siteId}/#{domainId}.auth.css?#{cacheBuster}", rel='stylesheet', type='text/css')
    if style
      link(href="#{cache3Url}/sites/#{siteId}/custom.css?#{cacheBuster}", rel='stylesheet', type='text/css')

    //- the only .js in our <head> 
    if env == 'production'
      //- in this case we preload most libraries, as opposed to fetching them all separately
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js')
      script(type='text/javascript', src="#{cache5Url}/pb-optimized.js")
    else
      script(type='text/javascript', src="#{cache3Url}/local/require.js")
    script(type="text/javascript").
      window.CHANGESET=!{JSON.stringify(global.CHANGESET)};window.siteName="!{siteName}";window.siteId=!{siteId};!{invite}window.initialMutant=!{JSON.stringify(initialMutant)};window.cacheUrl=!{JSON.stringify(cacheUrl)};window.cache2Url=!{JSON.stringify(cache2Url)};window.cache3Url=!{JSON.stringify(cache3Url)};window.cache4Url=!{JSON.stringify(cache4Url)};window.cache5Url=!{JSON.stringify(cache5Url)};window.authDomain="!{authDomain}";window.env=!{JSON.stringify(env)};require.config({baseUrl:window.cache5Url+'/client',urlArgs:!{JSON.stringify(global.CHANGESET)}});require(['requirejs-config'],function(cfg){require.config(cfg);require.call(window,['pb-entry']);});
  body
    .opener
    header.header.toggler
      if logo
        h1.logo.custom-logo
          a.mutant(tabindex='-1', href='/', title=metaKeywords)= siteName
            img(title=siteName, alt=metaKeywords, src="#{cacheUrl}/sites/#{logo}")
      else
        h1.logo
          a.mutant(tabindex='-1', href='/', title=metaKeywords) Power
            strong Bulletin
            img(title=siteName, alt=metaKeywords, src="")
      .container
        .search
          input#query.query(tabindex='1', type='text', placeholder='Search', autocomplete='off')
          .icon
            .s-big-search
          .onclick-close.toggler(title='Close!') x
        #warning.tooltip
        .MainMenu.menu-container
          +_menu(0, menu)
        .tools
          a.profile.photo.mutant
            img#profile(src="#{cache3Url}/images/profile.png")
          .bubble
          .bubble2
          .container
            menu
              li.onclick-login
                a(href='/auth/login') Login
              li.admin-only
                a.mutant(href='/admin') Admin
              li.onclick-profile
                a.mutant.onclick-profile(href='/users') Profile
              li.onclick-messages
                a(href='#messages') Chats
              li.onclick-logout
                a(href='/auth/logout', onclick='window.onbeforeunload="";') Logout

    .question.s-help(title='Help')
    section#left_content.left-content
      #handle.handle(title='Toggle')
      #left_container

    section#main_content.main-content.container

    #newsletter.onclick-newsletter(title='Read the Latest with Our Newsletter!')
      input#news_email(type='text', placeholder='your@email.com')
      .button(title='Get the Latest with Our Newsletter!') Get the Latest

    //- for mocha testing
    if env != 'production'
      #mocha

    footer
      .post-reply.onclick-footer-toggle.require-login
        .s-reply.onclick-footer-toggle.require-login
      .onclick-scroll-top Top
      #pb_paginator
      h6.onclick-footer-toggle.require-login
        a.mutant(href='/', title="#{metaKeywords} #{siteName}")
          small &copy; #{siteName} &nbsp;
          b= new Date().getFullYear()
      .post-container
        .form.post.post-new(action='/resources/posts', method='post')
          input.title(name='title', type='text', placeholder='Title Your New Thread ...')
          #post_new
          //-input(type='hidden', name='forum_id')
          //-input(type='hidden', name='csrf')

    #chat_drawer
    section#auth(style="display:none;")

    #info.info.tooltip
      .msg
      .onclick-close(title='Close!') X
      .next
        b Next 
        | >>

    //- css not required for initial page render -- performance mod.
    link(href="#{cache5Url}/local/jquery-ui.min.css", rel='stylesheet', type='text/css')
    != analytics
