!!! 5
html
  head
    if this.title
      title= title
    if this.meta_description
      meta(name='description',content=meta_description) 
    if this.meta_keywords
      meta(name='keywords',content=meta_keywords.join(', '))
    if this.meta_zipcode
      meta(name='zipcode',content=meta_zipcode)
    meta(http-equiv='X-UA-Compatible',content='IE=EmulateIE9,chrome=1')
    meta(name='robots',content='index, follow')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='user-scalable=0, initial-scale=1, maximum-scale=1, width=device-width')

    //- links first
    link(href="#{cache_url}/images/favicon.ico",rel='shortcut icon',type='image/x-icon')
    link(href="#{cache2_url}/images/apple-touch-icon.png", rel='apple-touch-icon')
    link(href="#{cache3_url}/images/apple-touch-icon-72x72.png", sizes="72x72", rel='apple-touch-icon')
    link(href="#{cache4_url}/images/apple-touch-icon-114x114.png", sizes="114x114", rel='apple-touch-icon')

    if css_urls
      for obj in css_urls
        link(rel='stylesheet',type='text/css',href=obj.url)

    //- the only .js in our <head> 
    if cvars.env == 'development'
      script(type='text/javascript', src="#{cache5_url}/local/head-0.99.load.min.js") //- offline
    else
      script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/headjs/0.99/head.load.min.js")
    if js_urls
      |<script type="text/javascript">
      |  head.js.apply(head, !{JSON.stringify(cvars.base_js_urls.concat(js_urls))});
      |</script>

  body
    header.header.toggler
      .close.toggler(title='Close!') x
      .container
        h1.logo
          a.mutant(href='/') Power
            strong Bulletin
        menu.menu
          each f,i in menu
            li.row
              a.title(data-id=f.id, data-scroll-to="#forum_#{f.id}", class="forum-#{f.id}", href="/#{f.slug}")= f.title
              menu.submenu
                if f.forums
                  each sf,i in f.forums
                    li.row
                      a.mutant(class="forum-#{sf.id}", href=sf.uri)= sf.title
        .search
          input#query.query(type='text', placeholder='Search', autocomplete='off')
        .advanced
          input#option_1.check(type='checkbox')
          label(for='option_1') Photos Only
          br
          input#option_2.check(type='checkbox')
          label(for='option_2') Videos Only
          br
          input#option_3.check(type='checkbox')
          label(for='option_3') Favorites Only

    section#left_chrome.left-chrome
      //-{{{ data-fid is how we pass in the forum id of the post, this way
      //- we can put a hotlink wherever without having to write new
      //- javascript (other than calculating the fid)
      //- TODO move this into posts :hover tools }}}
      .user-profile
        //-.photo
        //-  img#user-photo(src="#{cache_url}/images/profile.jpg")
        //-div
        //-  a(class='button onclick-add-post-dialog', data-fid=33) Post
        .sort
          .indicator
          ul#sort
            li(data-value='popular').active Popular
            li(data-value='recent') Most Recent
            li(data-value='active') Most Active
            li(data-value='controversal') Controversal
            li(data-value='nearest') Nearby
        .scroll-to-top
        //-.arrow

    #handle.handle
    section#left_content.left-content.container

    section#main_content.main-content.container

    section#auth(style="display:none;")
      .login
        form(method="post", action="/auth/login")
          h2 Login
          fieldset
            input(name="username", type="text", placeholder="Username")
            input(name="password", type="password", placeholder="Password")
            input(type="submit", value="Login")
        .social
          h2 Or Log In With:
          a(href="/auth/facebook") 
            img(src="#{cache2_url}/images/facebook_32.png")
          a(href="/auth/google") 
            img(src="#{cache3_url}/images/google_32.png")
          a(href="/auth/twitter") 
            img(src="#{cache4_url}/images/twitter_32.png")

    footer#chat_drawer.scroll-to-top
      h6
        small #{site.name} &nbsp;
        b= new Date().getFullYear()

    //- XXX  css not required for initial page render -- performance mod.
    link(href='//fonts.googleapis.com/css?family=Open+Sans:200,400,700|Open+Sans+Condensed:700', rel='stylesheet', type='text/css')
    //- link(href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700', rel='stylesheet', type='text/css')
    if cvars.env == 'development'
      link(href="#{cache5_url}/local/jquery-ui.min.css", rel='stylesheet', type='text/css') //- offline
    else
      link(href='//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css', rel='stylesheet', type='text/css')
