include _thread

mixin subforum(f, sf, i)
  li.subforum
    a.mutant.title.stylish(href=sf.uri)= sf.title

mixin forum(f, i)
  h3.title Forums
    //-a.mutant(href=f.uri)= f.title
  if f.forums
    ul.forum(class="#{f.classes || ''} forum-#{activeForumId}")
      each sf,ii in f.forums
        mixin subforum(f, sf, ii)

.create
  button.mutant.no-surf.require-login.button(data-edit='true', data-href="#{forum.uri}/new") Create Thread

//-#thread-paginator

.scrollable.y-scrollable
  include __threads
//- vim:fdm=marker
