
mixin forum(f, i)
  //-h4.title
  //-  a.mutant(href=f.slug)= f.title
  if f.forums
    each sf,ii in f.forums
      mixin subforum(f, sf, ii)

mixin subforum(f, sf, i)
  .subforum(id="subforum_#{sf.id}", class="#{(i % 2) ? 'odd' : 'even'}")
    a.title(href="#{sf.slug}")= sf.title

//- main
//- ---------
if forums
  each f,i in forums
    .forum(id="forum_#{activeForumId}", class="#{f.classes || ''} forum-#{activeForumId}")
      mixin forum(f, i)
    .create
      a(class='button onclick-add-post-dialog', data-fid=33) Create Thread

//- vim:fdm=marker
