
mixin forum(f, i)
  h3.title Forums
    //-a.mutant(href=f.uri)= f.title
  if f.forums
    ul.forum(class="#{f.classes || ''} forum-#{activeForumId}")
      each sf,ii in f.forums
        mixin subforum(f, sf, ii)

mixin subforum(f, sf, i)
  li.subforum
    a.mutant.title(href=sf.uri)= sf.title

mixin thread(t)
  li.thread
    a.mutant(href=t.uri)
      h4.title= t.title
      .profile.photo
        img(src="#{cache_url}/#{t.user_photo}")
      .created(data-time=t.created_iso)= t.created_human
      .username by
        em= t.user_name
      span.post-count= t.post_count
        i posts
      span.views= t.views
        i views

#handle.handle(title='Toggle') &lt;
.create
  a.mutant.button(href="#{forum.uri}/new") Create Thread

ul.threads
  each t,ii in topThreads
    mixin thread(t)

//- vim:fdm=marker
