
.container.offer
  a(href=config.affiliateLink, target='_new')
    h2= title
    h3= config.offerDescription
    if config.offerPhoto && !config.offerPhoto.match(/transparent-1px\.gif/)
      img(src=config.offerPhoto, alt=config.offerDescription, title=title)
    article!= config.offerContent
