
prefix = (config.offerPhoto && config.offerPhoto.indexOf(cacheUrl) !== -1) ? '' : cacheUrl + '/sites/'

mixin social
  if typeof(social) !== 'undefined' && social
    .social
      .fb-share-button(data-type='button_count')
      a.twitter-share-button(href='https://twitter.com/share')
      .g-plus(data-action='share')

.container.offer(itemscope='true', itemtype='http://data-vocabulary.org/Offer')
  .social-right
    +social
  a(href=config.affiliateLink, target='_new')
    h2(itemprop='name')= title
    h3(itemprop='description')= config.offerDescription
    if config.offerPhoto && !config.offerPhoto.match(/transparent-1px\.gif/)
      img(itemprop='image', src="#{prefix}#{config.offerPhoto}", alt=config.offerDescription, title=title)
    article(itemprop='offerDetails')!= config.offerContent
    .brand.hdn(itemprop='brand')= siteName
    .price.hdn(itemprop='price') 0
    .currency.hdn(itemprop='currency') USD
    .side-by-side
      if config.videoTop
        iframe.video(width='560', height='315', src=config.videoTop, frameborder='0', allowfullscreen='true')
      if config.videoTop2
        iframe.video(width='560', height='315', src=config.videoTop2, frameborder='0', allowfullscreen='true')
    if config.videoBottom
      iframe.big.video(width='853', height='480', src=config.videoBottom, frameborder='0', allowfullscreen='true')

  a.button(itemprop='offerURL', href=config.affiliateLink, target='_new') Go Now!
  .social-center
    +social
