include _post
include _post-actions
include _breadcrumb

//- posts tree
if typeof(post) !== 'undefined'
  - if (!post.user_photo) post.user_photo = cacheUrl + 'images/profile.jpg'
  .forum.resizable
    if page == 1
      .post.head(id="post_#{post.id}", class=post.reason ? 'censored' : '', data-user-id=post.user_id, data-post-id=post.id)
        .onclick-footer-toggle.post-reply
          .s-reply
        h3.title= post.title
        a.user.mutant(href="/user/#{post.user_name}")
          .profile.photo
            img(src="#{cacheUrl}/#{post.user_photo}")
          span.username=post.user_name
        .user-title=post.alias_config.title
        if post.user_last_activity
          //- rely on client to out human-friendly time
          .date Last Active
            span(data-time=post.user_last_activity)
        .date Posted 
          span(data-time=post.created_iso, title=post.created_friendly)!= post.created_human
        .edit-container
        if post.html
          p.body!= post.html
        .reply
        .actions
          a.onclick-footer-toggle(title='Reply')
            .s-reply.onclick-footer-toggle
          a.edit.mutant.no-surf(data-edit=post.id, href="#{post.uri.replace(/\/\d+$/, '')}/edit/#{post.id}") Edit
          a.permalink.mutant(href=post.uri, title='Permalink')
            .s-permalink
          a.censor.onclick-censor-post(title='Censor')
            .s-censor
    .children
      if post.posts.length
        div(data-page=page)
          each sp in post.posts
            if sp.parent_id !== null
              mixin _post(sp, 0)
      else if post.morePosts
        a(href='#') Load more posts ...
    .onclick-footer-toggle.post-reply
      .s-reply
    .bottom
else //- placeholder
  .forum.resizable

if typeof(post) !== 'undefined'
  #breadcrumb.breadcrumb
    mixin _breadcrumb(post)


//- vim:fdm=marker
