include _post
include _post_actions
include _breadcrumb

//- posts tree
if typeof(post) !== 'undefined'
  .forum.resizable
    .post(id="post_#{post.id}", data-user-id=post.user_id, data-post-id=post.id)
      h3.title= post.title
      .breadcrumb
        mixin _breadcrumb(post)
      a.user.mutant(href="/user/#{post.user_name}")
        .profile.photo
          img(src="#{cache_url}/#{post.user_photo}")
        span=post.user_name
      .date(data-time=post.created_iso)= post.created_human
      .edit-container
      if post.html
        .body!= post.html
      .reply
      mixin _post_actions(post)
    .children
    if post.posts.length
      div(data-page=page)
        each sp in post.posts
          mixin _post(sp, 0)
    else if post.morePosts
      a(href='#') Load more posts ...
else //- placeholder
  .forum.resizable

if typeof(post) !== 'undefined'
  #breadcrumb.breadcrumb
    mixin _breadcrumb(post)

if pages.length > 1
  #paginator
    each pg in pages
      a.mutant.page(class=(pg == page ? 'active' : ''), href=(pg == 1 ? post.uri : post.uri + '/page/' + pg))= pg

//- vim:fdm=marker
