
mixin breadcrumb(p)
  path  = ''
  parts = p.uri.split('/')
  parts = parts.splice(1, parts.length-2)
  each part in parts
    if part != 't'
      span /
      a.mutant(href="#{path}#{part}")= part.replace('-', ' ')
    - path = path + part + '/'
  span /
  em= p.title

mixin post(p)
  .post(id="post#{p.id}", data-post-id="#{p.id}")
    if p.title
      h3.title= p.title
    .user= p.user_name
    .date= p.created
    .breadcrumb
      mixin breadcrumb(p)
    if p.body
      p.body!= p.body
    .actions
      a.onclick-append-reply-ui Reply
      | 
      a(href=p.uri) Permalink
    .reply
  if p.posts && p.posts.length
    mixin subpost(p, -1)

mixin subpost(sp, i)
  //- -1 means to skip drawing parent
  if i > -1
    .subpost(id="subpost#{sp.id}", class=(i % 2) ? 'odd' : 'even', data-post-id="#{sp.id}")
      if sp.title
        h4.title= sp.title
      .user= sp.user_name
      .date= sp.created
      if sp.body
        p.body!= sp.body
      .actions
        a.onclick-append-reply-ui Reply
        | 
        a(href=sp.uri) Permalink
      .reply
  if sp.posts && sp.posts.length
    .children
      each pp, ii in sp.posts
        mixin subpost(pp, ii)

if typeof(subPost) !== 'undefined'
  .forum
    mixin post(subPost)

//- vim:fdm=marker
