include _post

.resizable.forum
  if postsByUser.length
    h4.overview Latest Posts
      span.right
        b!= profile.human_post_count 
          span  #{profile.post_count == 1 ? "Post" : "Posts"} 
        span in 
        b!= profile.human_thread_count
          span  #{profile.thread_count == 1 ? "Thread" : "Threads"}
    last_thread_id = -1
    each p, i in postsByUser
      if last_thread_id != p.thread_id
        h3.heading
          a.mutant.title.stylish(href=p.thread_uri) 
            b #{p.thread_title} 
          a.mutant.by(href="/user/#{p.thread_username}") by 
            b #{p.thread_username} 
          a.mutant.forum-link(href=p.forum_uri) in 
            b #{p.forum_title}
      mixin _post(p, i)
      last_thread_id = p.thread_id
    .post-bottom
  else
    h3 Check back for my first post
      i !
