
mixin breadcrumb(p)
  path  = ''
  parts = p.uri.split('/')
  parts = parts.splice(1, parts.length-2)
  each part in parts
    if part != 't'
      a.mutant(href="/#{path}#{part}")= part.replace('-', ' ')
    - path = path + part + '/'
  span /
  em= p.title

mixin actions(post)
  .actions
    a.onclick-append-reply-ui Reply
    a.edit.mutant(href="#{post.uri.replace(/\/\d+$/, '')}/edit/#{post.id}") Edit
    a.mutant(href=post.uri) Permalink
    if (typeof(user) !== 'undefined' && user) && user.rights.super
      a.onclick-censor-post Censor

mixin subpost(sp, i)
  .subpost(id="subpost_#{sp.id}", class=(i % 2) ? 'odd' : 'even', data-user-id=sp.user_id, data-post-id=sp.id)
    if sp.title
      h4.title= sp.title
    .profile.photo
      img(src="#{cache_url}/#{sp.user_photo}")
    .user= sp.user_name
    .date= sp.created_human
    if sp.body
      p.body!= sp.body
    .reply
    mixin actions(sp)
  if sp.posts && sp.posts.length
    .children
      each pp, ii in sp.posts
        mixin subpost(pp, ii)

if typeof(subPost) !== 'undefined'
  .forum
    .post(id="post_#{subPost.id}", data-user-id=subPost.user_id, data-post-id=subPost.id)
      if subPost.title
        h3.title= subPost.title
      .profile.photo
        img(src="#{cache_url}/#{subPost.user_photo}")
      .user= subPost.user_name
      .date= subPost.created_human
      .breadcrumb
        mixin breadcrumb(subPost)
      if subPost.body
        .subPost.body!= subPost.body
      .reply
      mixin actions(subPost)
    if subPost.posts && subPost.posts.length
      .children
        each sp in subPost.posts
          mixin subpost(sp, 0)

//- vim:fdm=marker
