
mixin post-edit(p)
  .post-edit(id="post_edit_#{p.id}")
    form#add_post_form(action='/resources/posts', method='post')
    label(for="post_title") Title
    input#post_title.title(type='text')= p.title
    textarea.body= p.body
    input(type='hidden', name='forum_id', value=p.id)
    input(type='hidden', name='csrf', value=p.csrf)
    input.button(type='submit', value='Save')
    button.cancel(onclick="window.history.go(-1)") Cancel
    .preview

if typeof(post) !== 'undefined'
  mixin post-edit(post)
