include mixins

if typeof(subPost) !== 'undefined'
  .forum
    .post(id="post_#{subPost.id}", data-user-id=subPost.user_id, data-post-id=subPost.id)
      h3.title= subPost.title
      .profile.photo
        img(src="#{cache_url}/#{subPost.user_photo}")
      .user= subPost.user_name
      .date(data-time=subPost.created_iso)= subPost.created_human
      .edit-container
      mixin breadcrumb(subPost)
      if subPost.body
        .subPost.body!= subPost.body
      .reply
      mixin actions(subPost)
    if subPost.posts.length
      .children
        div(data-page=1)
          each sp in subPost.posts
            mixin subpost(sp, 0)

    else if subPost.morePosts
      a(href='#') Load More Sub-Posts . . .

if typeof(subPost) !== 'undefined'
  #breadcrumb.breadcrumb
    mixin breadcrumb(subPost)

if pages.length > 1
  #paginator
    each pg in pages
      a.page(class=(pg == 1 ? 'active' : ''))= pg

//- vim:fdm=marker
