
mixin post(p, i)
  .post
    a.mutant(href=p.uri)!= p.title
    p.body!= p.body
    if p.subposts
      each sp,ii in p.subposts
        mixin subpost(p, sp, ii)

mixin subpost(p, sp, i)
  .subpost(id="subpost#{sp.id}", class=(i % 2) ? 'odd' : 'even', data-post-id="#{sp.id}")
    h4.title!= sp.title
    .user= sp.user_name
    .date= sp.created
    p.body!= sp.body
    .actions
      a.reply.onclick-append-reply-ui Reply
    .reply
    if sp.posts
      .children
        each pp, ii in sp.posts
          mixin subpost(sp, pp, ii)

//- XXX - && typeof(forums) !== 'undefined' is a temporary hack to get the page to load
if typeof(subPost) !== 'undefined'
  .forum
    h2= subPost.title
    if subPost.body
      p= subPost.body
    .breadcrumb breadcrumb
    each p, i in subPost.posts
      mixin subpost(subPost, p, i)

//- vim:fdm=marker
