
mixin breadcrumb(p)
  path  = ''
  parts = p.uri.split('/')
  parts = parts.splice(1, parts.length-2)
  each part in parts
    if part != 't'
      a.mutant(href="#{path}#{part}")= part.replace('-', ' ')
    - path = path + part + '/'
  span /
  em= p.title

mixin subpost(sp, i)
  .subpost(id="subpost_#{sp.id}", class=(i % 2) ? 'odd' : 'even', data-post-id="#{sp.id}")
    if sp.title
      h4.title= sp.title
    .user= sp.user_name
    .date= sp.created_human
    if sp.body
      p.body!= sp.body
    .actions
      a.onclick-append-reply-ui Reply
      a.mutant(href="#{sp.uri.replace(/\/\d+$/, '')}/edit/#{sp.id}") Edit
      a(href=sp.uri) Permalink
      if user.rights.super
        a.onclick-censor-post Censor
    .reply
  if sp.posts && sp.posts.length
    .children
      each pp, ii in sp.posts
        mixin subpost(pp, ii)

if typeof(subPost) !== 'undefined'
  .forum
    .post(id="post_#{subPost.id}", data-post-id="#{subPost.id}")
      if subPost.title
        h3.title= subPost.title
      .user= subPost.user_name
      .date= subPost.created_human
      .breadcrumb
        mixin breadcrumb(subPost)
      if subPost.body
        subPost.body!= subPost.body
      .actions
        a.onclick-append-reply-ui Reply
        | 
        a(href=subPost.uri) Permalink
      .reply
    if subPost.posts && subPost.posts.length
      each sp in subPost.posts
        mixin subpost(sp, 0)

//- vim:fdm=marker
