include _post
include _post-actions
include _breadcrumb

//- posts tree
if typeof(post) !== 'undefined'
  - if (!post.user_name)  post.user_name  = 'Transient'
  - if (!post.user_photo) post.user_photo = cacheUrl + 'images/transient.png'
  .forum.resizable
    if page == 1
      .post.head(id="post_#{post.id}", class=post.reason ? 'censored' : '', data-user-id=post.user_id, data-post-id=post.id)
        h3.title= post.title
        .breadcrumb
          mixin _breadcrumb(post)
        a.user.mutant(href="/user/#{post.user_name}")
          .profile.photo
            img(src="#{cacheUrl}/#{post.user_photo}")
          span=post.user_name
        .date(data-time=post.created_iso)!= post.created_human
        .edit-container
        if post.html
          .body!= post.html
        .reply
        mixin _post-actions(post)
    .children
      if post.posts.length
        div(data-page=page)
          each sp in post.posts
            if sp.parent_id !== null
              mixin _post(sp, 0)
      else if post.morePosts
        a(href='#') Load more posts ...
    textarea#post_new
else //- placeholder
  .forum.resizable

if typeof(post) !== 'undefined'
  #breadcrumb.breadcrumb
    mixin _breadcrumb(post)


//- vim:fdm=marker
