
mixin breadcrumb(subPost)
  path  = ''
  parts = subPost.uri.split('/')
  parts = parts.splice(1, parts.length-2)
  each part in parts
    if part != 't'
      span /
      a.mutant(href="#{path}#{part}")= part.replace('-', ' ')
    - path = path + part + '/'
  span /
  em= subPost.title

mixin subpost(sp, i)
  .subpost(id="subpost#{sp.id}", class=(i % 2) ? 'odd' : 'even', data-post-id="#{sp.id}")
    if sp.title
      h4.title= sp.title
    .user= sp.user_name
    .date= sp.created
    if i === 0
      .breadcrumb
        mixin breadcrumb(subPost)
    if sp.body
      p.body!= sp.body
    .actions
      a.onclick-append-reply-ui Reply
      | 
      a(href=sp.uri) Permalink
    .reply
    if sp.posts.length
      .children
        each pp, ii in sp.posts
          mixin subpost(pp, ii)

//- XXX - && typeof(forums) !== 'undefined' is a temporary hack to get the page to load
if typeof(subPost) !== 'undefined'
  .forum
    mixin subpost(subPost, 0)

//- vim:fdm=marker
