
.container
  .profile(data-user-id="#{profile.id}", data-user-name="#{profile.name}")
    h2= profile.name
    form(action="/resources/users/#{profile.id}/avatar", enctype="multipart/form-data", method="post")
      .avatar.profile
        if profile.photo
          if profile.photo.match(/^https?:/)
            img(src="#{profile.photo}")
          else
            img(src="#{cacheUrl}/#{profile.photo}")
        else
          img(src="#{cacheUrl}/images/profile.jpg")
        h3= profile.title
        input#change_title.change-title(placeholder='Title', type='text', name='title', value=profile.title)
      input(type="file", name="avatar", style="display:none;")

  ul
    li.post-count
      b!= profile.human_post_count 
        span  #{profile.post_count == 1 ? "post" : "posts"}
    li.since(title=profile.created_friendly)
      span Joined 
      != profile.created_human
    if profile.last_activity_iso
      li.last-activity
        span Last active 
        span.date(title=profile.last_activity_friendly, data-time=profile.last_activity_iso)!= profile.last_activity_human

  button.onclick-chat(title="Private Message") Chat
  a.onclick-show-forgot Change Password
  a.change-profile.avatar Change Profile Photo
  a.onclick-change-sig Change Signature
