
#handle.handle(title='Toggle')

.container
  h2= profile.name

  .profile(data-user-id="#{profile.id}")
    form(action="/resources/users/#{profile.id}/avatar", enctype="multipart/form-data", method="post")
      .avatar
        if profile.photo
          if profile.photo.match(/^http/)
            img(src="#{profile.photo}")
          else
            img(src="#{cache_url}/#{profile.photo}")
        else
          img(src="#{cache_url}/images/profile.jpg")
      input(type="file", name="avatar", style="display:none;")
      //- input(type="submit")

  ul
    li.since
      span Joined 
      != profile.created_human
    li.count
      b!= profile.human_post_count 
      span  #{profile.post_count == 1 ? "post" : "posts"}
