
.container
  h2= profile.name

  .profile(data-user-id="#{profile.id}", data-user-name="#{profile.name}")
    form(action="/resources/users/#{profile.id}/avatar", enctype="multipart/form-data", method="post")
      .avatar
        if profile.photo
          if profile.photo.match(/^https?:/)
            img(src="#{profile.photo}")
          else
            img(src="#{cacheUrl}/#{profile.photo}")
        else
          img(src="#{cacheUrl}/images/profile.jpg")
      input(type="file", name="avatar", style="display:none;")
      //- button(type="submit")

  ul
    li.since
      span Joined 
      != profile.created_human
    li.count
      b!= profile.human_post_count 
      span  #{profile.post_count == 1 ? "post" : "posts"}
    li.chat
      button.onclick-chat(title="Chat") Private Message
