
#handle.handle(title='Toggle') &lt;

.container
  h1 Profile

  .profile(data-user-id="#{profile.id}")
    .profile.photo
      if profile.photo.match(/^http/)
        img(src="#{profile.photo}")
      else
        img(src="#{cache_url}/#{profile.photo}")
    h2.name= profile.name

    h3.since User since #{profile.created_human}

    h3.count #{profile.post_count} posts
