include _post

#breadcrumb.breadcrumb
  #new_hits

suffix = elres.total == 1 ? '' : 's'
.search.resizable
  em#hit_count
    b #{elres.total} hit#{suffix}
  span#new_hit_count
    p - 
      span.count 0 
      | new!

  if elres.hits.length
    each hit in elres.hits
      - hit._source.title = hit._source.thread_title
      if hit._source.id == hit._source.thread_id
        .thread-hit
          mixin _post(hit._source, 0)
      else
        .comment-hit
          mixin _post(hit._source, 0)
  else
    h4 Try a more general search
      i !
    //- div
    //-   if env != 'production'
    //-     strong #{hit._source.title} (score: #{hit._score})
    //-   else
    //-     strong #{hit._source.title}
    //- p= hit._source.body
    //- div= JSON.stringify(hit)
