.search.resizable
  each hit in elres.hits
    div
      if cvars.env != 'production'
        strong #{hit._source.title} (score: #{hit._score})
      else
        strong #{hit._source.title}
    p= hit._source.body
    div= JSON.stringify(hit)
