include _post

#breadcrumb.breadcrumb
  em#hit_count
    #{elres.total} hit#{elres.total == 1 ? '' : 's'}
    #new_hits

.search.resizable
  if elres.hits.length
    each hit in elres.hits
      - hit._source.title = hit._source.thread_title
      if hit._source.id == hit._source.thread_id
        .thread-hit
          mixin _post(hit._source, 0)
      else
        .comment-hit
          mixin _post(hit._source, 0)
  else
    h4 Try a more general search
      i !
    //- div
    //-   if env != 'production'
    //-     strong #{hit._source.title} (score: #{hit._score})
    //-   else
    //-     strong #{hit._source.title}
    //- p= hit._source.body
    //- div= JSON.stringify(hit)
