mixin social(currentUrl)
  .social.has-auth
    h3 Or Log In With
    a.has-facebook(href="https:#{authDomain}/auth/facebook?origin=#{currentUrl}", title="Facebook!") 
      img(src="#{cacheUrl}/images/facebook_32.png")
    a.has-google(href="https:#{authDomain}/auth/google?origin=#{currentUrl}", title="Google+") 
      img(src="#{cacheUrl}/images/google_32.png")
    a.has-twitter(href="https:#{authDomain}/auth/twitter?origin=#{currentUrl}", title="Twitter!") 
      img(src="#{cacheUrl}/images/twitter_32.png")

.reset(style="display:none;")
  form(method="post", action="/auth/reset-password")
    label(for="password")
      h2 Authenticating...
    fieldset
      .tooltip
      input.password(id="password", name="password", type="password", placeholder="Password", disabled="disabled", autocomplete="off")
      .generate-password Generate
      .toggle-password Show
      .strength-meter(title="Stronger passwords are taller")
        .strength
      input(type="hidden", name="forgot")
      button(type="submit", value="Save", disabled="disabled") Save
      a.msg.onclick-show-login
        h3 Back
.choose(style="display:none;")
  form(method="post", action="/auth/choose-username")
    label(for="username")
      h2 Choose a Name for Yourself
        i !
    fieldset
      .tooltip
      input(id="username", name="username", type="text", placeholder="Username")
      button(type="submit", value="Save") Save
      a.msg.onclick-show-login
        h3 Back
.forgot(style="display:none;")
  form(method="post", action="/auth/forgot")
    label(for="email")
      h2 Tell Us Your Email
    fieldset
      .tooltip
      input(id="email", name="email", type="text", placeholder="Email", maxlength=254)
      button(type="submit", value="Send Secure Link") Send Link
      a.msg.onclick-show-login
        h3 Back
.dialog(style="display:none;")
  h2#msg Check your inbox for activation
    i !
  .msg2
  a.msg.onclick-close-fancybox
    h3 Close
.register(style="display:none;")
  form(method="post", action="/auth/register")
    label(for="username")
      h2 Welcome
        i !
    fieldset
      .tooltip
      input(id="username", name="username", type="text", placeholder="Username")
      input.password(name="password", type="password", placeholder="Password", autocomplete="off")
      .generate-password Generate
      .toggle-password Show
      .strength-meter(title="Stronger passwords are taller")
        .strength
      input(name="email", class="register-email", type="text", placeholder="Email", maxlength=254)
      button(type="submit", value="Register") Register
      a.msg.onclick-show-login
        h3 I already have an account
  unless inviteOnly
    mixin social(currentUrl)

.login
  form(method="post", action="/auth/login")
    label(for="username")
      h2= siteName
    fieldset
      a.fmsg.msg.onclick-show-forgot
        h3 Forgot?
      .tooltip
      input(id="login-email", name="login-email", type="text", placeholder="Email")
      input(name="password", type="password", placeholder="Password", autocomplete="off")
      button(type="submit", value="Login") Login
      unless inviteOnly
        a.msg.onclick-show-register
          h3 Register
            i !
      a.small.msg.onclick-show-forgot
        h3 Forgot
          i ?
  unless inviteOnly
    mixin social(currentUrl)
