h1 #{product.description}
.right.info
  if cardNeeded
    .clear
    label(for='card_number') Card Number
    input#card_number.Buy-card-number(type='text')
    .clear
    label(for='card_month') Expiration
    select#card_month.Buy-card-month
      option(disabled=true, selected=true) - Month -
      option Jan - 1
      option Feb - 2
      option Mar - 3
      option Apr - 4
      option May - 5
      option Jun - 6
      option Jul - 7
      option Aug - 8
      option Sept - 9
      option Oct - 10
      option Nov - 11
      option Dec - 12
    small /
    select#card_year.Buy-card-year
      option(disabled=true, selected=true) - Year -
      d = new Date().getFullYear()
      - for (var i=0; i<=16; i++)
        option= d + i
    .clear
    label(for='card_code') Security Code
    input#card_code.Buy-card-code(type='text')
  else
    h3 Your payment information is Ready-to-Go
      i !
    .clear
      a.Buy-change-card(href='#') Enter different card details
      em This will change the card for all your subscriptions
  .clear
    button.Buy-checkout CHECKOUT
  .cards
    .discover
    .amex
    .mastercard
    .visa
.right
  h2 Only 
    b
      small $
      != (product.price / 100.0).toFixed(0)
      small /mo
