price = (product.price / 100.0).toFixed(0)
h1 #{product.description}
.right.ccinfo
  form(autocomplete='off')
    .tooltip
    if cardNeeded
      .clear
      label(for='card_number') Card
      input#card_number.Buy-card-number(type='text', placeholder='XXXX - XXXX - XXXX - XXXX', maxlength=19)
      .clear
      label(for='card_month') Expires
      select#card_month.Buy-card-month
        option(disabled=true, selected=true) - Month -
        option(value=1) Jan - 1
        option(value=2) Feb - 2
        option(value=3) Mar - 3
        option(value=4) Apr - 4
        option(value=5) May - 5
        option(value=6) Jun - 6
        option(value=7) Jul - 7
        option(value=8) Aug - 8
        option(value=9) Sept - 9
        option(value=10) Oct - 10
        option(value=11) Nov - 11
        option(value=12) Dec - 12
      small /
      select#card_year.Buy-card-year
        option(disabled=true, selected=true) - Year -
        d = new Date().getFullYear()
        - for (var i=0; i<=16; i++)
          option= d + i
      .clear
      label(for='card_code') Security Code
      input#card_code.Buy-card-code(type='password', placeholder='CCV', maxlength=5)
      span.code ?
        .cvvinfo
          img(src=cacheUrl + '/images/cvv2_example.gif')
          img(src=cacheUrl + '/images/cvv2_example_amex.gif')
    else
      h3 Your payment information is Ready-to-Go
        i !
      a.Buy-change-card(href='#') Enter different credit card details
      .clear
      em Applies to all subscriptions
    .clear
      button.Buy-checkout(type='submit', value='CHECKOUT') CHECKOUT
.right.features
  if price && (price !== '0')
    h2 
      small $
      b
        != price
      small /mo
  else
    h2
      b Free
        i !
  menu
    each f in product.config.features
      li
        span= f
.cards
  .jcb
  .dinersclub
  .discover
  .amex
  .mastercard
  .visa
.notice * Card details are not stored on our servers for added security
