mixin social
  if typeof(social) !== 'undefined' && social
    .social
      .fb-share-button(data-type='button_count')
      a.twitter-share-button(href='https://twitter.com/share')
      .g-plus(data-action='share')

mc = typeof(forum) != "undefined" ? forum.moderation_count : 0
.homepage(class=activeForumId!='homepage'?'resizable forum':'')
  if description.length
    h2= description
  if typeof(item) != "undefined" && item && item.form.dialog === 'forum'
    if mc
      .moderation-log
        a.mutant(href="#{item.form.forumSlug}/moderation")
          b= mc
          | Moderation#{mc == 1 ? '' : 's'}
  .MenuSummary
  | &nbsp;
  +social
  .Pins
