
mixin menu-item(depth, items)
  each item,i in items
    klass = (depth > 0) ? 'indent' : 'submenu'
    if item && item.form
      //- row -> out!
      desc = item.form.forumDescription || item.form.pageDescription || item.form.placeholderDescription || item.form.linkDescription
      li.row
        if item.form.dialog == 'placeholder'
          .title= item.title
        else if item.form.dialog == 'forum'
          a.mutant.title(
            data-surf=item.form.dbid,
            class="forum-#{item.form.dbid}",
            href="#{item.form.forumSlug || item.form.pageSlug || item.form.url}"
            target=(item.form.separateTab ? '_blank' : '_self'))
            .title= item.title
            if desc
              .description= desc
          if item.thread_count
            .stats #{item.thread_count} threads
          if item.post_count
            .stats #{item.post_count} posts
        //- link & page
        else
          a.mutant.title(
            data-surf=item.form.dbid,
            class="forum-#{item.form.dbid}",
            href="#{item.form.forumSlug || item.form.pageSlug || item.form.url}"
            target=(item.form.separateTab ? '_blank' : '_self'))
            .title= item.title
            if desc
              .description= desc
        //- stylize depth & recurse
        if item.children
          div(class=klass)
            ul
              +menu-item(depth+1, item.children)

//- render menu items in long format
//----------
if typeof(menuSummary) == 'object'
  ul
    +menu-item(0, menuSummary)
.clear
