
mixin menu-item(depth, items)
  each item,i in items
    slug  = item.form.forumSlug || item.form.pageSlug || item.form.url
    if item && item.form
      //- row -> out!
      desc = item.form.forumDescription || item.form.pageDescription || item.form.placeholderDescription || item.form.linkDescription
      tr(class="item-#{item.form.dialog}", data-db-id=item.form.dbid)
        //- placeholder
        if item.form.dialog == 'placeholder'
          td.title(colspan=4)
            .icon(class="s-#{item.form.dialog}-icon")
            span.name= item.title
            span.description
        //- forum
        else if item.form.dialog == 'forum'
          td.title
            .icon(class="s-#{item.form.dialog}-icon")
            a.mutant(
              data-surf=item.form.dbid,
              class="forum-#{item.form.dbid}",
              href=slug,
              target=(item.form.separateTab ? '_blank' : '_self'))
              span.name= item.title
              span.description= desc
          td.last-post
            latest = item.latest_post
            if latest && latest.username
              a.mutant.body(href=latest.uri)= latest.title
              a.mutant.username(href="/user/#{latest.username}")= latest.username
              span.date(data-time=latest.created.last_post_created_iso, title=latest.created.last_post_created_friendly)- latest.created.last_post_created_human
          td.threads= item.thread_count
          td.posts= item.post_count
        //- link & page
        else
          td.title(colspan=4)
            .icon(class="s-#{item.form.dialog}-icon")
            a.mutant(
              data-surf=item.form.dbid,
              class="forum-#{item.form.dbid}",
              href="#{item.form.forumSlug || item.form.pageSlug || item.form.url}"
              target=(item.form.separateTab ? '_blank' : '_self'))= item.title
            .description= desc

//- render menu items in long format
//----------
if typeof(menuSummary) == 'object' && menuSummary.length
  .container
    table
      tr
        th.first Forums
        th.second Latest Activity
        th.third Threads
        th.foruth Posts
      +menu-item(0, menuSummary)
.clear
