h1 My Sites
if sites.length
  ul
    each s in sites
      li
        h2= s.name
        .users
          span.count= s.user_count
          | &nbsp;registered user#{s.user_count == 1 ? '' : 's'}

        ul.domains
          each d in s.domains
            li
              a(href="https://#{d}/", target="_blank")= d
              | &nbsp;(
              a(href="https://#{d}/#once-admin", target="_blank") admin
              | )
  p.new
    a.onclick-first-site(href='#') Start a new site by clicking here 
      i !
else
  p
    a.onclick-first-site(href='#') Name your first site by clicking here 
      i !
