h1 My Communities
if sites.length
  a.new.top.onclick-first-site(href='#', title='Start a new community!') +
  ul.communities
    each s in sites
      li
        h2= s.name
        .users
          span.count= s.user_count
          | &nbsp;registered user#{s.user_count == 1 ? '' : 's'}

        ul.domains
          each d in s.domains
            li
              a(href="https://#{d}/#once", target="_blank")= d
              | &nbsp;(
              a(href="https://#{d}/auth/once-admin", target="_blank") admin
              | )
  p.new
    a.onclick-first-site(href='#') Start a New Community
      i ! &nbsp;
else
  p
    | Choose a name for your first community! 
    //-small
    //-  i anything you wish!
    br
    b NAME
    |.powerbulletin.com will be created.
    br
    small Point additional domains anytime with your 
      b /admin
      |.
    br
    br
    a.onclick-first-site(href='#') Click to Get Started
      i !

if memberships.length
  h3 You're #{sites.length ? ' also ' : ''} a member of
  ul.memberships
    each m in memberships
      if m && m.domain
        li
          a(href="https://#{m.domain}/#once", target="_blank") #{m.name}
            small @ 
            | #{m.domain}
