.upload
  form(method="POST", action="#{endpointUrl}", enctype="multipart/form-data")
    h1= title
    div
      img(src="#{cacheUrl}#{photo}")
    div
      div.button 
        span Upload Image
        input(type="file", name="avatar")

.crop(style="display:none;")
  h1= title + " (crop)"
  div
    img(src="#{cacheUrl}#{photo}")
  div.button Crop Image
