- var cacheBuster = Math.random().toString().replace(/\\./, '')
.upload
  h1= title
  div
    img(src="#{cacheUrl}#{photo}?#{cacheBuster}")
  div
    form(method="POST", action="#{endpointUrl}", enctype="multipart/form-data")
      button Upload Photo
        input(type="file", name="avatar")

.crop
  h1 Drag to Crop
  div
    img(src="#{cacheUrl}#{photo}?#{cacheBuster}")
  button Save
