- var cacheBuster = Math.random().toString().replace(/\\./, '')
.upload
  h1= title
  div
    img(src="#{cacheUrl}#{photo}?#{cacheBuster}")
  div
    form(method="POST", action="#{endpointUrl}", enctype="multipart/form-data")
      button Upload Photo
        input(type="file", name="avatar")

cropSrc = "#{cacheUrl}#{photo}?#{cacheBuster}"
.crop
  h1 Crop your Photo by Dragging
  .left
    img(src=cropSrc)
  .right
    .preview-wrapper
      img#preview(src=cropSrc)
    button Save
