h1 The Best Forum Software for Everyone
  i !
#logo.logo
  a(href='/', title='The Best Forums and Community in real-time!') Power
    b Bulletin
h2 PowerBulletin is a Free, Cloud-based Community Software Platform
#imagine.stick
  p Your own real-time community
  ul
    li The best forum to pour your passion
    li Connect your business, friends, family or colleagues
    //-li
    //-  small
    //-    i Only possible with 
    //-      b PowerBulletin
  .logo-icon.onclick-scroll-to(data-scroll-to='#navigation')
    .beacon
#register_top
#features.stick.arrow.onclick-scroll-to(data-scroll-to='#navigation')
  .down-arrow
    .s-down-arrow
  .slogan
    span.why Why you'll
    span.love &hearts;
    span.pb Power
      b Bulletin
nav
  li.navigation
    a.name.onclick-scroll-to(data-scroll-to='#navigation') Navigation
  li.responsive
    a.name.onclick-scroll-to(data-scroll-to='#responsive') Responsive
  li.realtime-cloud
    a.name.onclick-scroll-to(data-scroll-to='#realtime-cloud') Real-Time
  //-li.products
  //-  a.name.onclick-scroll-to(data-scroll-to='#products') Commerce
  li.support
    a.name.onclick-scroll-to(data-scroll-to='#support') Support
.container.first
  img.bg(src="#{cacheUrl}/images/live_support.jpg", alt='Forum Support Community')
section#navigation.feature
  article
    img(src="#{cacheUrl}/images/navigation-icon.jpg")
    h3 Free 
      small &amp; 
      | Simple
    ul
      li Instant SEO technology without browser refreshes
      li Split interface familiar to iPad &amp; Droid mobile tablet users
    a.arrow.onclick-scroll-to(data-scroll-to="#responsive")
      .down-arrow
        .s-down-arrow
.container.second
  img.bg(src="#{cacheUrl}/images/navigation.jpg", alt='Responsive Forum Communities')
section#responsive.feature
  article
    img(src="#{cacheUrl}/images/responsiveness-icon.jpg", alt='Responsive Forum Communities')
    h3 Mobile Now
    ul
      li Contemporary, responsive design
      li Mobile phone to office projectors, PowerBulletin stuns
    a.arrow.onclick-scroll-to(data-scroll-to="#realtime-cloud")
      .down-arrow
        .s-down-arrow
.container.third
  img.bg(src="#{cacheUrl}/images/responsiveness.jpg", alt='Responsive Community Forum Software')
section#realtime-cloud.feature
  article
    img(src="#{cacheUrl}/images/real_time_flow-icon.jpg", alt='Forum Communities in Real-time')
    h3 Real-Time Flow
    ul
      li Ultra-fast communities built on a real-time cloud engine
      li Real-time forums, chat, administration &#8210; everything
        i !
      li Secure, fast &amp; fluid software platform
    a.arrow.onclick-scroll-to(data-scroll-to="#support")
      .down-arrow
        .s-down-arrow
//-.container.fourth
//-  img.bg(src="#{cacheUrl}/images/products_ecommerce.jpg")
//-section#products.feature
//-  article
//-    h4 Products &amp; e-Commerce
//-    ul
//-      li Sell your business around PowerBulletin communities
//-      li Offering e-commerce is so easy to use, it's easy to love
//-      li Coming soon
//-        i !
//-    a.arrow.onclick-scroll-to(data-scroll-to="#support")
//-      .down-arrow
//-        .s-down-arrow
.container.fifth
  img.bg(src="#{cacheUrl}/images/real_time_flow.jpg", alt='Power Bulletin Forum Software in Real-time')
section#support.feature.shown
  article
    img(src="#{cacheUrl}/images/live_support-icon.jpg", alt='Forum Software Support Community')
    h3 Live Support
    p
      | Knowledge is PowerBulletin!
      a(href='mailto:hello@powerbulletin.com') Say Hello
      | to our friendly team.  With an official 
      a(href='https://community.powerbulletin.com', target='_blank') PowerBulletin Online Community
      | there's almost no limit to what you can build.
section.last
  article
    #register_bottom
section#faq.faq
  article
    h3 FAQ
    menu.faq
      li
        h4 Is PowerBulletin really Free?
        p
          i Yes! 
      li
        h4 Can I customize the look of PowerBulletin?
        p
          i Yes! 
          | Get started with the Look &amp; Feel 
          | section in Your /admin. 
          | Everything is Possible.
          a(href='http://www.w3schools.com/cssref/', target='_blank') CSS
          | &amp;
          a(href='http://learnboost.github.io/stylus/', target='_blank') Stylus
          | are also supported.
      li
        h4 Is basic CMS functionality supported?
        p
          i Yes! 
          | Start with building a basic menu in your /admin.  Menus are combinations of Forums, HTML pages &amp; Links
      li
        h4 Can I have a completely secure, private community?
        p
          i Yes! 
          | We have toggles for instantly taking your content private and also for invite-only.  Security first, only with PowerBulletin.
    menu
      li
        h4 Questions?
        p
          | Get instant answers:
          br
          br
          a(href='https://community.powerbulletin.com', target='_blank') Official PowerBulletin Online Community
          br
          a(href='mailto:support@powerbulletin.com') hello@powerbulletin.com
      li.quotes
        h4.hreview
          span.summary
            i "PowerBulletin is awesome! Very fluid."
          span.reviewer.vcard Pete
        h4.hreview
          span.summary
            i "PowerBulletin connects me with my customers in a friendly &amp; fun experience everyone loves."
          span.reviewer.vcard Jay
        h4.hreview
          span.summary
            i "Switching from an older forum platform, PowerBulletin is software with a smile.  My community is growing and it really is that easy."
          span.reviewer.vcard Zeke
.body-bg
  img(src="#{cacheUrl}/images/pb_sales_main_bg.jpg", alt='Real-time Forum and Community only possible with PowerBulletin')
header
  ul
    li
      a.onclick-scroll-to(data-scroll-to="#faq") FAQ
    li.community
      a(href='https://community.powerbulletin.com', target='_blank', title='Community Forum') Community
    li(style="display: none;").my-sites
      a.onclick-my-sites(title='My Forums') My Communities
    li.auth
      a.onclick-login(title='Forum Login') Login
      a.onclick-logout(title='Forum Logout', style="display:none;") Logout
    li
      button#start_now Start Now

#wrapper.Sales-content
#info.info.tooltip
  .msg
  .onclick-close(title='Close!') X
  .next
    b Next 
    | >>

section#auth
footer
  .onclick-scroll-top Top
