.body-bg
  img(src="#{cacheUrl}/images/pb_sales_main_bg.jpg")
header
  ul
    li
      a.onclick-scroll-to(data-scroll-to="#faq") FAQ
    li.community
      a(href='https://community.powerbulletin.com', target='_blank') Community
    li(style="display: none;").my-sites
      a.onclick-my-sites My Communities
    li.auth
      a.onclick-login Login
      a.onclick-logout(style="display:none;") Logout
    li
      button#start_now Start Now

#wrapper.Sales-content

#logo.logo
  h1 Power
    b Bulletin
h2#imagine.stick
  p Your own real-time community
  ul
    li The perfect place to pour your passion
    li Connect your business, friends, family or colleagues
    //-li
    //-  small
    //-    i Only possible with 
    //-      b PowerBulletin
  .logo-icon
#register_top
h2#features.stick.arrow.onclick-scroll-to(data-scroll-to='#navigation')
  .down-arrow
    .s-down-arrow
  span.why Why you'll
  span.love love
  span.pb Power
    b Bulletin
nav
  li.navigation
    a.name.onclick-scroll-to(data-scroll-to='#navigation') Navigation
  li.responsive
    a.name.onclick-scroll-to(data-scroll-to='#responsive') Responsive
  li.realtime
    a.name.onclick-scroll-to(data-scroll-to='#realtime') Real-Time
  //-li.products
  //-  a.name.onclick-scroll-to(data-scroll-to='#products') Commerce
  li.support
    a.name.onclick-scroll-to(data-scroll-to='#support') Support
.container.first
  img.bg(src="#{cacheUrl}/images/live_support.jpg")
section#navigation.feature
  article
    img(src="#{cacheUrl}/images/navigation-icon.jpg")
    h4 Seamless Navigation
    ul
      li SEO technology transmits page delta vs. browser reloads
      li Split interface to shows navigation &amp; threads
      li Browse threads without leaving a post
    a.arrow.onclick-scroll-to(data-scroll-to="#responsive")
      .down-arrow
        .s-down-arrow
.container.second
  img.bg(src="#{cacheUrl}/images/navigation.jpg")
section#responsive.feature
  article
    img(src="#{cacheUrl}/images/responsiveness-icon.jpg")
    h4 Device Responsive
    ul
      li Modern interface that scales across all devices
      li Mobile &amp; tablets, to wide-screen --
      li Your PowerBulletin community always stuns
    a.arrow.onclick-scroll-to(data-scroll-to="#realtime")
      .down-arrow
        .s-down-arrow
.container.third
  img.bg(src="#{cacheUrl}/images/responsiveness.jpg")
section#realtime.feature
  article
    img(src="#{cacheUrl}/images/real_time_flow-icon.jpg")
    h4 Real-Time Flow
    ul
      li Ultrafast PowerBulletin is built on a real-time engine
      li Real-time posting, chatting, administration -- everything
        i !
      li Always secure, fast &amp; fluid
    a.arrow.onclick-scroll-to(data-scroll-to="#support")
      .down-arrow
        .s-down-arrow
//-.container.fourth
//-  img.bg(src="#{cacheUrl}/images/products_ecommerce.jpg")
//-section#products.feature
//-  article
//-    h4 Products &amp; e-Commerce
//-    ul
//-      li Sell your business around PowerBulletin communities
//-      li Offering e-commerce is so easy to use, it's easy to love
//-      li Coming soon
//-        i !
//-    a.arrow.onclick-scroll-to(data-scroll-to="#support")
//-      .down-arrow
//-        .s-down-arrow
.container.fifth
  img.bg(src="#{cacheUrl}/images/real_time_flow.jpg")
section#support.feature.shown
  article
    img(src="#{cacheUrl}/images/live_support-icon.jpg")
    h4 Live Support
    p
      | Knowledge is PowerBulletin!  With
      a(href='mailto:support@powerbulletin.com') direct access to our team
      | of friendly developers &amp; designers, and a
      a(href='https://community.powerbulletin.com', target='_blank') 24/7 online community
      | there's almost no limit to what you can build.
section.last
  article
    #register_bottom
section#faq.faq
  article
    h3 FAQ
    menu
      li
        h4 Can I change the look of PowerBulletin?
        p
          | Absolutely!  We provide a solid default theme to get started quickly.
          | Anything is possible with your stylish eye:
          a(href='http://www.w3schools.com/cssref/', target='_blank') CSS
          | &amp;
          a(href='http://learnboost.github.io/stylus/', target='_blank') Stylus
          | are supported.
    menu
      li
        h4 Contact
        p
          | We're here for YOU:
          br
          a(href='https://community.powerbulletin.com', target='_blank') Online Community
          br
          a(href='mailto:support@powerbulletin.com') support@powerbulletin.com
section#auth
footer
  .onclick-scroll-top Top
