
#logo.logo
  h1 Power
    b Bulletin
  em The Official Real-Time Community Builder
h2#imagine.stick
  p Imagine real-time communities at the click of a button.
  .logo-icon
#register_top
h2#features.stick.arrow.onclick-scroll-to(data-scroll-to='#navigation')
  span.why Why you'll
  span.love love
  span.pb Power
    b Bulletin
nav
  li.navigation
    a.name.onclick-scroll-to(data-scroll-to='#navigation') Navigation
  li.responsive
    a.name.onclick-scroll-to(data-scroll-to='#responsive') Responsive
  li.realtime
    a.name.onclick-scroll-to(data-scroll-to='#realtime') Real-Time
  li.products
    a.name.onclick-scroll-to(data-scroll-to='#products') Commerce
  li.support
    a.name.onclick-scroll-to(data-scroll-to='#support') Support
.container.first
  img.bg(src="#{cvars.cacheUrl}/images/navigation.jpg")
section#navigation.feature
  article
    h4 Breakthrough Navigation
    p
      | From SEO technology that speedily transmits page delta instead of reloading browsers,
      | to a split-thread &amp; post interface, the PowerBulletin experience is always secure, fast &amp; fluid.
    a.arrow.onclick-scroll-to(data-scroll-to="#responsive") Next
.container.second
  img.bg(src="#{cvars.cacheUrl}/images/responsiveness.jpg")
section#responsive.feature
  article
    h4 Unmatched Responsive Design
    p
      | A modern, responsive interface that scales from to your phone,
      | tablet and PC to wide-screen projectors--your PowerBulletin community always stuns.
    a.arrow.onclick-scroll-to(data-scroll-to="#realtime") Next
.container.third
  img.bg(src="#{cvars.cacheUrl}/images/real_time_flow.jpg")
section#realtime.feature
  article
    h4 Real-Time Flow
    p
      | Ultrafast PowerBulletin is built on a real-time engine that powers
      | everything from user chat &amp; posts to administration, such as creating products.
    a.arrow.onclick-scroll-to(data-scroll-to="#products") Next
.container.fourth
  img.bg(src="#{cvars.cacheUrl}/images/products_ecommerce.jpg")
section#products.feature
  article
    h4 Products &amp; e-Commerce Capabilities
    p
      | Sell your business products &amp; services around PowerBulletin communities.
      | Offering e-commerce is so easy to use, it's easy to love.
    a.arrow.onclick-scroll-to(data-scroll-to="#support") Next
.container.fifth
  img.bg(src="#{cvars.cacheUrl}/images/live_support.jpg")
section#support.feature
  article
    h4 Live Support
    p
      | Knowledge is PowerBulletin!  With
      a(href='mailto:support@powerbulletin.com') direct access to our team
      | of friendly developers &amp; designers
      | there's almost no limit to what you can build.
section.last
  article
    #register_bottom
section#faq.faq
  article
    h3 FAQ
    menu
      li
        h4 Can I change the look of PowerBulletin?
        p
          | Absolutely!  We provide a solid default theme to get started quickly.
          | Anything is possible with your stylish eye:
          a(href='http://www.w3schools.com/cssref/', target='_blank') CSS
          | &amp;
          a(href='http://learnboost.github.io/stylus/', target='_blank') Stylus
          | are supported.
    menu
      li
        h4 Contact
        p
          | We're here for YOU:
          a(href='mailto:support@powerbulletin.com') support@powerbulletin.com
footer
  .onclick-scroll-top Top
