h1 The Best Forum Software
  i !
#logo.logo
  a(href='/', title='The Best Forums and Community in real-time!') Power
    b Bulletin
h2 PowerBulletin is a Free, Cloud-based Community Software Platform
#imagine.stick
  p Your Own Realtime Community.
  ul
    li The best forum to pour your passion
    li Connect your business, friends, family or colleagues
    //-li
    //-  small
    //-    i Only possible with 
    //-      b PowerBulletin
  .logo-icon.onclick-scroll-to(data-scroll-to='#navigation')
    .beacon
#register_top
#features.stick.arrow.onclick-scroll-to(data-scroll-to='#navigation')
  .down-arrow
    .s-down-arrow.move-down
  .slogan(title="Why You'll Love PowerBulletin!")
    .fb-like(data-href='https://www.facebook.com/dimensionsoftware', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
nav
  li.navigation
    a.name.onclick-scroll-to(data-scroll-to='#navigation') Navigation
  li.responsive
    a.name.onclick-scroll-to(data-scroll-to='#responsive') Responsive
  li.realtime-cloud
    a.name.onclick-scroll-to(data-scroll-to='#realtime-cloud') Real-Time
  //-li.products
  //-  a.name.onclick-scroll-to(data-scroll-to='#products') Commerce
  li.support
    a.name.onclick-scroll-to(data-scroll-to='#support') Support
.container.first
  img.bg(src="#{cacheUrl}/images/live_support.jpg", alt='Forum Support Community')
section#navigation.feature
  article
    img(src="#{cacheUrl}/images/navigation-icon.jpg")
    h3 Free 
      small &amp; 
      | Simple
    ul
      li Instant-On SEO technology without browser refreshes
      li Instantly build 
        b Forums, 
        b Landing Pages 
        | &amp; 
        b Link Networks
        i !
      li(style='visibility:hidden;')
    a.arrow.onclick-scroll-to(data-scroll-to="#responsive")
      .down-arrow
        .s-down-arrow
.container.second
  img.bg(src="#{cacheUrl}/images/navigation.jpg", alt='Responsive Forum Communities')
section#responsive.feature
  article
    img(src="#{cacheUrl}/images/responsiveness-icon.jpg", alt='Responsive Forum Communities')
    h3 Mobile Now
    ul
      li Split interface familiar to 
        b iPad 
        | &amp; 
        b Droid users
      li Contemporary, responsive design, PowerBulletin stuns
        i !
      li(style='visibility:hidden;')
    a.arrow.onclick-scroll-to(data-scroll-to="#realtime-cloud")
      .down-arrow
        .s-down-arrow
.container.third
  img.bg(src="#{cacheUrl}/images/responsiveness.jpg", alt='Responsive Community Forum Software')
section#realtime-cloud.feature
  article
    img(src="#{cacheUrl}/images/real_time_flow-icon.jpg", alt='Forum Communities in Real-time')
    h3 Real-Time Flow
    ul
      li Real-time, ultra-fast &amp; secure cloud engine
      li Build your own social communities like 
        b Reddit 
        | &amp; 
        b 4Chan
        i !
      li#experience START NOW
    a.arrow.onclick-scroll-to(data-scroll-to="#support")
      .down-arrow
        .s-down-arrow
//-.container.fourth
//-  img.bg(src="#{cacheUrl}/images/products_ecommerce.jpg")
//-section#products.feature
//-  article
//-    h4 Products &amp; e-Commerce
//-    ul
//-      li Sell your business around PowerBulletin communities
//-      li Offering e-commerce is so easy to use, it's easy to love
//-      li Coming soon
//-        i !
//-    a.arrow.onclick-scroll-to(data-scroll-to="#support")
//-      .down-arrow
//-        .s-down-arrow
.container.fifth
  img.bg(src="#{cacheUrl}/images/real_time_flow.jpg", alt='Power Bulletin Forum Software in Real-time')
section#support.feature.shown
  article
    img(src="#{cacheUrl}/images/live_support-icon.jpg", alt='Forum Software Support Community')
    h3 Live Support
    p
      | Knowledge is PowerBulletin!
      a(href='mailto:hello@powerbulletin.com') Say Hello
      | to our friendly team.  With an official 
      a(href='https://community.powerbulletin.com', target='_blank') PowerBulletin Online Community
      | there's almost no limit to what you can build.
section.last
  article
    #register_bottom
section#faq.faq
  article
    h3 FAQ
    menu.faq
      li
        h4 Is PowerBulletin really Free?
        p
          i Yes! 
      li
        h4 Can I customize the look of PowerBulletin?
        p
          i Yes! 
          | Get started with the Look &amp; Feel 
          | section in Your /admin. 
          | Everything is Possible.
          a(href='http://www.w3schools.com/cssref/', target='_blank') CSS
          | &amp;
          a(href='http://learnboost.github.io/stylus/', target='_blank') Stylus
          | are also supported.
      li
        h4 Is basic CMS functionality supported?
        p
          i Yes! 
          | Start with building a basic menu in your /admin.  Menus are combinations of Forums, HTML pages &amp; Links
      li
        h4 Can I have a completely secure, private community?
        p
          i Yes! 
          | We have toggles for instantly taking your content private and also for invite-only.  Security first, only with PowerBulletin.
    menu
      li
        h4 Questions?
        p
          | Get instant answers:
          br
          br
          a(href='https://community.powerbulletin.com', target='_blank') Official PowerBulletin Online Community
          br
          a(href='mailto:support@powerbulletin.com') hello@powerbulletin.com
      li.quotes
        h4.hreview
          span.summary
            i "PowerBulletin is awesome! Very fluid."
          span.reviewer.vcard Pete
        h4.hreview
          span.summary
            i "PowerBulletin connects me with my customers in a friendly &amp; fun experience everyone loves."
          span.reviewer.vcard Jay
        h4.hreview
          span.summary
            i "Switching from an older forum platform, PowerBulletin is software with a smile.  My community is growing and it really is that easy."
          span.reviewer.vcard Zeke
    h5
      a(href='http://dimensionsoftware.com', target='_new', title='Dimension Software specializes with real time software platforms and software-as-a-service in DTLA') Fine Forum Software by
    a(href='http://dimensionsoftware.com', target='_new', title='Best Software Contractors for Hire in Los Angeles')
      img.dimensionsoftware(src='#{cacheUrl}/images/dimension_full_logo.png', height=85)
.body-bg
  img(src="#{cacheUrl}/images/pb_sales_main_bg.jpg", alt='Real-time Forum and Community only possible with PowerBulletin')
header
  ul
    li
      a.onclick-scroll-to(data-scroll-to="#faq") FAQ
    li.community
      a(href='https://community.powerbulletin.com', target='_blank', title='Community Forum') Community
    li(style="display: none;").my-sites
      a.onclick-my-sites(title='My Forums') My Communities
    li.auth
      a.onclick-login(title='Forum Login') Login
      a.onclick-logout(title='Forum Logout', style="display:none;") Logout
    li
      button#start_now Start Now

#wrapper.Sales-content
#info.info.tooltip
  .msg
  .onclick-close(title='Close!') X
  .next
    b Next 
    | >>

.fb-like(data-href='https://www.facebook.com/dimensionsoftware', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')

section#auth
footer
  .onclick-scroll-top Top

script(type='text/javascript').
   (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=311191419029490&version=v2.0";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
