label(for=name)
  span.label= name
  div.drop-target.button 
    .progress 1
      small %
    span.action Browse
    input.upload(id=name, type='file', name=name)
  img.inline-preview(src="#{cacheUrl}/images/transparent-1px.gif")
  span.inline-text
  .cancel.close.onclick-delete(title='Delete') X
.note Drag &amp; drop or choose above
