form
  h2 Edit User
  fieldset
    legend Info
    .box
      label Name
        input(name='name', type='text', value=user.name)
    .box
      label Email
        input(name='email', type='text', value=user.email)
    .box 
      label Photo
        input(name='photo', type='text', value=user.photo)
  fieldset
    legend Settings
    .box
      input#UserEditor-verified.stylish(name='verified', type='checkbox', checked=user.verified)
      label.switch-control(for='UserEditor-verified')
        .switch
      span.label.checked Verified
      .note Toggle user verified status
    .box
      input#UserEditor-disabled.stylish(name='disabled', type='checkbox', checked=user.disabled)
      label.switch-control(for='UserEditor-disabled')
        .switch
      span.label.checked Disabled
      .note Toggle user disabled status
  fieldset
    legend Rights
    .box
      input#UserEditor-site_admin.stylish(name='site_admin', type='checkbox', checked=user.site_admin)
      label.switch-control(for='UserEditor-site_admin')
        .switch
      span.label.checked Site Admin
      .note Toggle user as a site-wide administrator
    .box
      input#UserEditor-sys_admin.stylish(name='sys_admin', type='checkbox', checked=user.sys_admin)
      label.switch-control(for='UserEditor-sys_admin')
        .switch
      span.label.checked System Admin
      .note Toggle user as a system-wide administrator
  .box(style='margin:10px auto 5px auto; text-align:center')
    input(style='width: 80%', type='submit', value='Save')
